body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.table-container {
    width: 100%;
    height: 100vh;
    perspective: 1200px;
    overflow: hidden;
    background-image: linear-gradient(to right, #2F0C01 , #A0673C);
    position: relative;
}
    .game-header {
        width: 239px;
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        position: absolute;
        top: 27px;
        left: 50%;
        margin-left: -116.5px;
    }

    .btn-game {
        display: inline-block;
        font-size: 30px;
        text-transform: uppercase;
        color: #E0E0E0;
        background: rgba(76,46,31, 0.3);
        box-shadow:         inset 0 0 10px #4C2E1F;
        /* box-shadow:         3px 3px 5px 6px #4C2E1F; */
        border-radius: 3px;
        line-height: 60px;
        padding: 0 20px;
        position: absolute;
        top: 30px;
        right: 30px;
        font-family: 'Audiowide', cursive;

    }

    .btn-game:hover {
        cursor: pointer;
    }

.table {
    width: 100%;
    height: 100%;
    background-image: url("../img/table6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    transform-style: preserve-3d;
    transform: rotatex(45deg);

}

.game-container {
    position: relative;
    height: 700px;
    width: 700px;

}

.game {
    width: 700px;
    height: 700px;
    background-image: url("../img/wood-black.jpg");
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 7px 5px #36251d;
    transition: 2s;
}

.reverse {
    transform: rotate(-180deg);
    transition: 2s;
 }


.middle-block {
    width: 100%;
    display: flex;
}

.chess-board {
    width: 600px;
    height: 600px;
    border: 3px solid #36251d;
    position: relative;
}

    .checker-box-white {
        position: absolute;
        left: -151px;
        bottom: -12px;
        height: 320px;
        width: 80px;
        background-image: url('../img/wood-black.jpg');
        background-repeat: repeat-y;
        background-position: center;
        background-size: contain;
        border: 5px solid #36251d;
        border-style: groove;
    }
    .checker-box-black {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        right: -151px;
        top: -12px;
        height: 320px;
        width: 80px;
        background-image: url('../img/wood-black.jpg');
        background-repeat: repeat-y;
        background-position: center;
        background-size: contain;
        border: 5px solid #36251d;
        border-style: groove;
    }
        .score-white, .score-black {
            width: 100%;
            height: 70px;
            background-color: #101010;
            font-size: 50px;
            color: #E0E0E0;
            text-align: center;
            line-height: 60px;
            font-family: 'Oswald', sans-serif;
            border-radius: 5px;
        }
        .score-black {
            transform: rotate(-180deg);
        }

    .col-coords {
        font-size: 0;
    }

    .white-checker {
        position: absolute;
        height: 12.5%;
        width: 12.5%;
        background-image: url('../img/white-n.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-align: center;
    }

    .white-queen {
        background-image: url('../img/white-q.png')
    }

    .black-checker {
        position: absolute;
        height: 12.5%;
        width: 12.5%;
        background-image: url('../img/black-n.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .black-queen {
        background-image: url('../img/black-q.png')
    }
    .active-checker {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .white-checker > span {
        color: black;
        font-size: 0;
    }
    .black-checker > span {
        color: white;
        font-size: 0;
    }

.black {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.white {
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/wood-white.jpg");
  background-size: cover;
  background-position: center;
}


.row {
  display: inline-block;
  width: 100%;
}

.cell {
  display: inline-block;
  float: left;
}

.active-cell {
    background-image: url("../img/wood-black-active.jpg");
}

.letters {
    background-image: url("../img/wood-white-port.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}

.letters > div {
    display: inline-block;
    text-transform: capitalize;
    font-weight: bold;
    color: #36251d;
}

.numbers {
    background-image: url("../img/wood-white.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers > div {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #36251d;
}

.letters:nth-child(1) > div {
    transform: rotate(-180deg);
}

.numbers:nth-child(3) > div {
    transform: rotate(-180deg);
}

.white-checker:hover,
.black-checker:hover,
.active-cell:hover {
    cursor: pointer;
}

.reverse {
    transform: rotate(-180deg);
    transition: 2s;
 }

 .reverse-checker {
     transform: rotate(-180deg);
  }
